<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Consultar Serviços</title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/servicos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header>
        <!-- Cabeçalho -->
        <div class="header d-flex justify-content-between align-items-center">

            <a href="/home">
                <img src="/images/logo-vs.png" alt="logo da empresa" class="logovs-head">
            </a>

            <h2 class="titulo">Serviços</h2>

            <div class="user-actions">

                <div class="username"><span th:text="${username}"></span></div>

                <a href="/logout">
                    <i class="bi bi-person-circle perfil" style="font-size: 40px;"></i>

                    <div class="logout-text">
                        <span>Logout</span>
                        <i class="fas fa-arrow-left"></i>
                    </div>
                </a>
            </div>
        </div>
    </header>

    <!-- Botão de Voltar -->
    <a href="/consultas" class="return"><i class="bi bi-arrow-return-left"></i></a>

    <!--Imagem do fundo-->
    <img src="/images/logo-vs.png" alt="logo da empresa" class="logovs">

    <div class="container mt-2">
        <a class="btn btn-success mb-2" th:href="@{/servicos/new}"><i class="fas fa-plus-circle"></i> Novo Serviço</a>
        <!-- Formulário de Filtro -->
        <form method="get" action="/servicos" class="row g-3 mb-3">
            <div class="col-md-2">
                <label for="id" class="form-label">ID</label>
                <input type="number" class="form-control" id="id" name="id" th:value="${param.id}"
                    placeholder="Digite o ID">
            </div>
            <div class="col-md-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" th:value="${param.nome}"
                    placeholder="Digite o Nome">
            </div>
            <div class="col-md-1 d-flex flex-column align-items-end p-1" style="margin-top: 3.85%;">
                <button type="submit"
                    class="btn btn-primary w-100 mb-2 d-flex align-items-center justify-content-center">
                    <i class="fas fa-filter me-2"></i> Filtrar
                </button>
                <a href="/servicos" class="btn btn-secondary w-100 d-flex align-items-center justify-content-center">
                    <i class="fas fa-times me-2"></i> Limpar
                </a>
            </div>
        </form>

        <!-- Alerta de erro, se houver -->
        <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Erro!</strong> <span th:text="${errorMessage}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Materiais</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="servico : ${servicos}">
                    <td th:text="${servico.id}"></td>
                    <td th:text="${servico.nome}"></td>
                    <td>
                        <ul>
                            <li th:each="material : ${servico.materiais}" th:text="${material.nome}"></li>
                        </ul>
                    </td>
                    <td>
                        <a class="btn btn-warning btn-sm" th:href="@{/servicos/edit/{id}(id=${servico.id})}">Editar</a>
                        <a class="btn btn-danger btn-sm"
                            th:href="@{/servicos/delete/{id}(id=${servico.id})}">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>